.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    color: white;
    background-color: rgb(104, 179, 255);
}

.nav-bar >*:not(:last-child){
    margin-right: 3rem;
}

.nav-bar {
    /* height: 90px; */
    padding-right: 2rem;
}

.nav-bar >*{
    /* padding: 1.9rem 2rem; */
    text-decoration: none;
    /* color: black; */
    font-size: 1.3rem;
}

.nav-bar a {
    /* padding: 1.9rem 2rem; */
    text-decoration: none;
    /* color: black; */
    font-size: 1.3rem;
    height: 90px;
}

.nav-bar >*:hover{
    color: rgb(0, 80, 199);
    border-bottom: 2px solid rgb(0, 80, 199);
}

.logo{
    font-size: 2rem;
    font-family: Lato-bold, sans-serif;
    cursor: pointer;
    padding-left: 2rem;
}