* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.655);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

img,
embed,
video,
object {
  border-radius: 1rem;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.inline-li {
  display: inline;
}